// @include normalize;

a{
	color: $link;
	padding: ($dies + $veinte) * 1px;
	&:hover{
		color: darken($blue,10%);
	};
}

@mixin button-base{
	border: 2px solid;
	background: greenyellow;
	color: #fff;
	&hover{
		color: darken($blue, 10%);
	}
}

@mixin padding ($amount:50px){
	padding: $amount
}

@mixin font($weight, $size){
	font-weight: $weight;
	font-size: $size;
	line-height: 1.2 * $size;
}

button{
	@include font(hold, 12px)
	@include button-base;
	@include padding(20px);
	color: #ccc;
}

p{
	color: #fff;
	font-size: 36px;

	@include respond-to(ph){
		background: #999;
		&::after{
			content: 'Phone';
		}
	}

	@include respond-to(tb){
		background: #666;
		&::after{
			content: 'Tablet';
		}
	}

	@include respond-to(dt){
			background: #333;
			&::after{
				content: 'Desktop';
			}
	}
}