@mixin truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 767px){
	.p{
		margin: 0;
	}
}



@mixin respond-to($medias){
	@each $media in $medias {
		@if $media == ph{
			@media only screen and (max-width: ($tablet - 1)){
				@content;
			}
		}
		@else if $media == tb{
			@media only screen and (min-width: $tablet) and (max-width: ($desktop - 1)){
				@content;
			}
		}
		@else if $media == dt{
			@media only screen and (min-width: ($desktop)){
				@content;
			}	
		}
	}
}