.hotel-results .main-header{
	background: blue;
	color: #fff;
	padding: 8%;
};

.hotel-results .main-menu{
	background: blue;
	padding: 8%;
}
.hotel-results .main-menu a{
	color: #fff;
}
.hotel-results .filtered-results{
		max-width: 900px;
		margin: 0 auto;
		background: red;
}
.hotel-results .filtered-results:after{
		content: "";
		display: table;
		clear: both;
}
.hotel-results .filter-container{
	float: left;
	width: 300px;
}
.hotel-results .filter-list{
	float: left;
	width: calc(100% - 300px);
	padding: 0 20px;
	box-sizing: border-box;
}
.hotel-results{}