html
	head
		title #{title}
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='css/main.css')

	body
		p Solo habitacion

		include header.jade

			nav
				crumb

			section
				SearchBox

			article.filteres-result
				include searchBar.jade

				include regimenes.jade

				section
					header
						h3 Lista hoteles Santiago de Chile

					include result.jade