section.list-container
					header
						h3 #{titleFilter}

					li
						label
							input(type="checkbox")
							| Todos los regimenes
					li
						label
							input(type="checkbox")
							| Cama y desayuno
					li
						label
							input(type="checkbox")
							| Solo la habitacion
					li
						label
							input(type="checkbox")
							| Desayuno
					li
						label
							input(type="checkbox")
							| Desayuno continental
					li
						label
							input(type="checkbox")
							| Desayuno bufet
				
				hr