ul
						li
							section
								header
									h4 Apartamentos VR Suite
								p Solo habitacion
							section
								p Precio por habitacion
								p 
									strong ARS800
								p 
									|Precio sin promo ARS 1.142 
									br
									|Impuestos y tasas no incluidas
								a(href='') Ver Hotel
								p Paga en cuotas

					ul
						li
							section
								header
									h4 Lastarria suites
								p Solo habitacion
							section
								p Precio por habitacion
								p 
									strong ARS846
								p 
									|Precio sin promo ARS 962 
									br
									|Impuestos y tasas no incluidas
								a(href='') Ver Hotel
								p Paga en cuotas