doctype html
html
  head
    title  Usuarios
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    form(method='post' action='/users/create')
        label
            |Ingrese nombre
            input(type='text', name='nombre', placeholder='Ingrese nombre')
        br
        label
            |Ingrese edad
            input(type='text', name='edad', placeholder='Ingrese edad')
        br
        button(type='submit') Enviar

    h3 #{nombre}
    h3 #{edad}